body {
  text-align: center;
  background-color: #011F3F;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

#total-score {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.25rem;
  margin:  5%;
  color: #FEF2BF;
}

#tiles-left {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 5px;
  display: inline-block;
  height: 150px;
  width: 150px;
  cursor: crosshair;
  border-radius: 10px;

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(255, 0, 0);
}

.green {
  background-color: rgb(0, 255, 0);
}

.blue {
  background-color: rgb(0, 0, 255);
}

.yellow {
  background-color: rgb(255, 255, 0);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: rgb(226, 226, 226);
}

footer p {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
  margin:  5%;
  color: #FEF2BF;
}